body{
    background: blue;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav_logo{
    color: #fff;
}
.nav_list{
    list-style: none;
    display: flex;
    column-gap: 20px;
}
.nav_link{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    position: relative;
}
.nav_link::after{
    content: '';
    position: absolute;
    left: 0; bottom: 0px;
    width: 100%; height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;

}
.nav_link:hover::after{
    transform: scale(1);
    transform-origin: left;
}